.block-events-past {
    .pagination {
        a {

            &:hover {
                color: var(--color-primary-dark);
            }

            &.current {
                //color: var(--color-secondary);
                pointer-events: none;
                opacity: 0.8;
            }
        }
    }
    .event {
        @apply pb-14;
        border-bottom: 1px solid var(--color-primary);
    }
}