.block-food-drink {
    .food-drink-container {
        @include pixelsToResponsiveUnit(padding-top, 60px, 128px, 128px);
        @include pixelsToResponsiveUnit(padding-bottom, 60px, 128px, 128px);
    }
    h2 {
        @include pixelsToResponsiveUnit(font-size, 48px, 48px, 48px);
    }
    a {
        @apply inline-block mb-4 ml-1 mr-1 md:mr-0 md:ml-3 no-underline;
    }
    a.active {
        @apply underline inline-block;
    }
    a:not(.active) {
        @apply no-underline;
    }
    a:hover {
        @apply underline;
    }
    .line {
        svg {
            @apply absolute bottom-[-10px] right-[0px];
            @screen md {
                @apply bottom-[-15px] right-[-100px];
            }
            path {
                fill: var(--color-secondary);
            }
        }
    }
    .menu {
        h3 {
            @apply mb-10;
        }
    }
    p.menu-links {
        @include pixelsToResponsiveUnit(font-size, 14px, 14px, 14px);
    }
} 