.block-food-drink {
    a {
        @apply inline-block mb-4 mr-3 md:mr-0 md:ml-3 no-underline;
    }
    a.active {
        @apply underline inline-block;
    }
    a:not(.active) {
        @apply no-underline;
    }
    a:hover {
        @apply underline;
    }
    .line {
        svg {
            @apply absolute bottom-[-15px] right-[-100px];
            path {
                fill: var(--color-secondary);
            }
        }
    }
    .menu {
        h3 {
            @apply mb-10;
        }
    }
} 