.block-image-slider {
    .swiper {
        width: 100%;
        height: 100%;
        display: flex;
    }
  
    .swiper-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        position: relative;
    }

    
    .mask {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @apply bg-primary;
        mix-blend-mode: multiply;
        z-index: 1;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
    }

    .dots {
        @apply flex gap-2;
    }

    .swiper-pagination-bullet {
        @apply bg-white rounded-full w-[8px] h-[8px] md:w-[12px] md:h-[12px] inline-block;
    }

    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet:hover {
        @apply bg-secondary cursor-pointer;
    }
} 