.block-quote {
    .container {
        max-width: 1328px;
    }
    p.quote {
        @apply relative;
        line-height: 1.25;
    }
    span:nth-child(1) {
        @apply absolute;
        left: -1rem;
    }
} 