.block-quote {
    .quote-container {
        @include pixelsToResponsiveUnit(padding-top, 48px, 48px, 48px);
        @include pixelsToResponsiveUnit(padding-bottom, 48px, 48px, 48px);
    }
    .container {
        max-width: 1328px;
    }
    p.quote {
        @apply relative;
        line-height: 1.25;
    }
    span:nth-child(1) {
        @apply absolute;
        left: -0.9rem;
        @screen md {
            left: -1rem;
        }
    }
} 