@layer base {
  body {
    @apply font-sans antialiased;
  }

  p, %p, .p, ul, ol {
    @apply mb-8;
    @include pixelsToResponsiveUnit(font-size, 12px, 14px, 14px);
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  ol, ul {
    margin-left: 1em;
    list-style-type: disc;
  }

  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5,
  %h1, %h2, %h3, %h4, %h5 {
    @apply font-display font-bold uppercase;
    line-height: 1;
    letter-spacing: 0;
  }

  h1, %h1, .h1 {
    @apply mb-5 uppercase;
    @include pixelsToResponsiveUnit(font-size, 36px, 64px, 64px);
  }

  h2, %h2, .h2 {
    @apply mb-5 uppercase;
    @include pixelsToResponsiveUnit(font-size, 36px, 48px, 48px);
  }

  h3, %h3, .h3 {
    @apply mb-5 uppercase;
    @include pixelsToResponsiveUnit(font-size, 28px, 32px, 32px);
  }

  h4, %h4, .h4 {
    @apply mb-5 uppercase;
    @include pixelsToResponsiveUnit(font-size, 24px, 24px, 24px);
    line-height: 1;
    letter-spacing: 0;
  }

  h5, %h5, .h5 {
    @apply mb-5 uppercase;
    @include pixelsToResponsiveUnit(font-size, 16px, 20px, 20px);
  }

  h1.p {
    @apply mb-8;
    @include pixelsToResponsiveUnit(font-size, 12px, 14px, 14px);
    line-height: 1.5;
    letter-spacing: 0.05em;
    @apply font-sans antialiased normal-case font-normal;
  }

}