@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'mixins';
@import 'typography';
@import 'blocks/index';

body {
  @apply text-black bg-white;
}

main {
  width: 100vw;
  overflow-x: hidden;
  min-height: 65vh;
}

a {
  @apply underline;
}

a:hover {
  @apply no-underline;
}

.line {
  @apply relative;
  svg {
    @apply absolute right-0 bottom-0;
  }
}

.btn,
%btn {
  @apply bg-secondary inline-block px-4 py-2 uppercase h5 text-secondary-dark no-underline hover:bg-primary m-0;
}
.btn:hover,
%btn:hover {
  @apply bg-secondary-dark text-white;
}

.cta-bar {
  .btn {
    @apply bg-secondary-dark text-white;
  }
  .btn:hover {
      @apply bg-primary text-secondary-dark;
  }
}

header {
  @apply duration-[450ms] ease-in-out;
  .logo {
    img {
      @apply duration-[450ms] transition-all;
      @include pixelsToResponsiveUnit(width, 168px, 248px, 248px);
    }
  }
  .links {
    @apply duration-[450ms] transition-all;
    a {
      @extend %h4;
      @include pixelsToResponsiveUnit(font-size, 20px, 24px, 24px);
      @apply no-underline m-0;
    }
    a:hover {
      @apply underline decoration-[3px];
    }
    a.home {
      @apply duration-[450ms] transition-all w-0 opacity-0 invisible;
    }
  }
  .locations-link {
    @apply duration-[450ms] transition-all translate-y-0;
  }
}

.header-minimized {
  header {
    .logo {
      img {
        width: 130px;
        @screen md {
          opacity: 0;
          width: 0;
        }
      }
    }
    .links {
      @apply ml-0 mb-0;
      max-width: 100%;
      a.home {
        @apply w-auto opacity-100 visible;
      }
    }
    .locations-link {
      @apply opacity-0 invisible -translate-y-full;
    }
  }
}

#mobile-menu {
  p,
  li {
      @apply mb-4;
  }
  p.h4 {
      @apply mt-10 mb-5;
  }
  p.h4:first-of-type {
      @apply mt-0;
  }
  .other-locations {
    @apply mt-14;
    p.h4 {
      @apply m-0;
    }
    a {
      @apply no-underline block my-5;
    }
  }

}

.mobile-menu-open {
  header {
    @apply duration-200;
    @apply bg-primary ;
  }
}

.is-location {
  footer {
    @apply bg-primary;
  }
}