@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'mixins';
@import 'typography';
@import 'blocks/index';

body {
  @apply text-black bg-white;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

a {
  @apply underline;
}

a:hover {
  @apply no-underline;
}

.line {
  @apply relative;
  svg {
    @apply absolute right-0 bottom-0;
  }
}

.btn {
  @apply bg-secondary inline-block px-4 py-2 uppercase h5 text-secondary-dark no-underline hover:bg-primary m-0;
}
.btn:hover {
  @apply bg-secondary-dark text-white;
}

.cta-bar {
  .btn {
    @apply bg-secondary-dark text-white;
  }
  .btn:hover {
      @apply bg-primary text-secondary-dark;
  }
}

header {
  .logo {
    padding-top: 20px;
    img {
      @include pixelsToResponsiveUnit(width, 168px, 248px, 248px);
    }
  }
}